<div id="container">
	
 <!-- <div class="modal-body row">
  <div class="col-md-6"> -->
    <!-- Your first column here -->
     		<!-- <input type="file"  id="fileUpload" />
			<input type="button" class="btn btn btn-success"id="upload" value="Upload" onclick="Upload()" />
			<hr />
			<div id="dvCSV">
			</div>
 -->

 <div class="container my-2">
   <div class="table-responsive">


     
    <div align="center">
      
     

     <div class="input-group mb-3">
        <button type="button" name="load_data" id="load_data" class="btn btn-success">Display CSV</button>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02"> </label>
        </div>

    </div>
    <br />
    <div id="employee_table" >
    </div>
   </div>

   
  <!-- </div>
			    
  </div> -->




 


</div>